/* RESET  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  list-style-type: none;
}

/* PARALLAX  */
.parallaxAccueil {
  background-image: url(imgNew/parallaxParis.jpg);
  height: 400px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #9f890d;
}
.parallaxAccueilDeux {
  background-image: url(imgNew/parallaxAccueilDeux.jpg);
  height: 400px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #9f890d;
}
.parallaxCuisine {
  background-image: url(imgNew/parallaxCuisine.jpg);
  height: 400px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #9f890d;
}
.parallaxChambre {
  background-image: url(imgNew/parallaxChambre.jpg);
  height: 400px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #9f890d;
}
.parallaxRecrutement {
  background-image: url(imgNew/parallaxRecrutement.jpg);
  height: 400px;
  width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #9f890d;
}
.parallaxActu {
  background-image: url(imgNew/parallaxActu.jpg);
  height: 400px;
  width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #9f890d;
}

/* FONTS  
font-family: 'Courgette', cursive;
font-family: 'Noto Sans', sans-serif;
*/
h1,
h2,
h3,
h4 {
  font-family: "Courgette", cursive;
}
p,
a,
button {
  font-family: "Noto Sans", sans-serif;
}
.containerTop h1 {
  margin-top: 60px;
}
/* BACKGROUND-COLOR ET FONT COLOR */
.bg-1 {
  background-color: antiquewhite;
}
.bg-2 {
  background-color: white;
}
.bg-3 {
  background-color: black;
}
.bg-4 {
  background-color: #9f890d;
}
span {
  color: #9f890d;
}
hr {
  height: 3px;
  background-color: #9f890d;
  border: none;
  margin: auto;
}

/* .container, .containerAutre {
  border-top: 3px solid lightgray;
  border-bottom: 3px solid lightgray;
} */

/* FORMULAIRE  */
#booking-form {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
}

#booking-form label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

#booking-form input[type="text"],
#booking-form input[type="email"],
#booking-form input[type="date"],
#booking-form input[type="time"],
#booking-form input[type="tel"],
/* #booking-form input[type="file"], */
#booking-form input[list="motifs"],
#booking-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
}

#formNewsletter input[type="email"] {
  width: 285px;
  border-radius: 5px;
}
#formNewsletter button[type="submit"] {
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: rgb(0, 0, 0);
  border: 2px solid #9f890d;
  border-radius: 5px;
  color: #9f890d;
  font-size: 18px;
}

#booking-form button[type="submit"] {
  padding: 10px 20px;
  background-color: lightblue;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 18px;
}

#message {
  width: 500px;
  padding: 20px;
  text-align: center;
  margin: 20px auto;
  display: none;
}

#message.success {
  background-color: lightgreen;
  color: green;
  border: 1px solid green;
}

#message.error {
  background-color: pink;
  color: red;
  border: 1px solid red;
}

section a {
  color: #9f890d;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
section a:hover {
  color: black;
}
li a {
  text-decoration: none;
  color: #9f890d;
}
ul {
  list-style-type: none;
  padding-left: 0;
}

#buttonMidi, #buttonAprem, #buttonSoir {
  border: none;
  color: #9f890d;
  font-weight: bold;
  background-color: transparent;
  margin-bottom: 20px;
}
@media screen and (max-width: 375px) {
  .parallaxAccueil {
    background-image: url(imgNew/parallaxParis.jpg);
    height: 400px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #9f890d;
  }
  h1,
  h2,
  h3,
  h4,
  p,
  address {
    margin: 10px;
    text-align: center;
  }
  .containerBot,
  /* .containerTop, */
  .container,
  .containerAutre,
  .footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .containerTop img {
    width: 100%;
  }
  .container img {
    width: 100%;
  }
  .containerAutre img {
    width: 50px;
  }
  .blocUn {
    margin: 0 20px 20px 20px;
  }
  .blocForm {
    margin: 0 20px 20px 20px;
    background-color: white;
    border: 2px solid #9f890d;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .blocDeux {
    max-width: 375px;
  }
  .blocAutre {
    border: 1px solid #9f890d;
    margin: 5px;
  }
  .listeReseaux {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
  }
  #reseaux img {
    width: 20px;
  }
  #footerRight {
    margin-bottom: 10px;
  }
  .footerLangue {
    margin-bottom: 25px;
  }
  #reservation button {
    margin: auto;
    padding: 5px;
    border: 1px solid #9f890d;
    border-radius: 5px;
    color: #9f890d;
  }
  .containerReservation {
    position: fixed;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    filter: opacity(85%);
  }
}
@media screen and (max-width: 425px) {
  h1,
  h2,
  h3,
  h4,
  p,
  address {
    margin: 10px;
    text-align: center;
  }
  .containerBot,
  /* .containerTop, */
  .container,
  .containerAutre,
  .footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .containerTop img {
    width: 100%;
  }
  .container img {
    width: 100%;
  }
  .containerAutre img {
    width: 50px;
  }
  .blocUn {
    margin: 0 20px 20px 20px;
  }
  .blocForm {
    margin: 0 auto 20px auto;
    background-color: white;
    border: 2px solid #9f890d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 425px;
    padding: 20px;
  }
  .blocForm div {
    margin: 20px 0;
  }
  .blocDeux {
    max-width: 425px;
  }
  .blocAutre {
    border: 1px solid #9f890d;
    margin: 5px;
  }
  .listeReseaux {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
  }
  #reseaux img {
    width: 20px;
  }
  #footerRight {
    margin-bottom: 10px;
  }
  .footerLangue {
    margin-bottom: 25px;
  }
  #reservation button {
    margin: auto;
    padding: 5px;
    border: 1px solid #9f890d;
    border-radius: 5px;
    color: #9f890d;
  }
  .containerReservation {
    position: fixed;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    filter: opacity(85%);
  }
}
@media screen and (max-width: 768px) {
  h1,
  h2,
  h3,
  h4,
  p,
  address {
    margin: 10px;
    text-align: center;
  }
  /* .containerTop, */
  .container,
  .containerAutre {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .containerBot {
    padding-bottom: 30px;
  }
  .containerTop img {
    width: 100%;
  }
  .container img {
    width: 100%;
  }
  .containerAutre {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .containerAutre img {
    width: 50px;
  }
  .blocUn {
    margin: 0 20px 20px 20px;
  }
  .blocForm {
    margin: 0 auto 20px auto;
    background-color: white;
    border: 2px solid #9f890d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 425px;
    padding: 20px;
  }
  .blocForm div {
    margin: 20px 0;
  }
  .blocDeux {
    max-width: 425px;
    margin: auto;
  }
  .blocAutre {
    width: 300px;
    height: 300px;
    border: 1px solid #9f890d;
    margin: 5px;
  }
  .listeReseaux {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
  }
  #reseaux img {
    width: 40px;
  }
  .footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  #footerRight {
    margin-bottom: 10px;
  }
  .footerLangue {
    margin-bottom: 25px;
  }
  #reservation button {
    margin: auto;
    padding: 5px;
    border: 1px solid #9f890d;
    border-radius: 5px;
    color: #9f890d;
  }
  .containerReservation {
    position: fixed;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    filter: opacity(85%);
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  h1,
  h2,
  h3,
  h4,
  p,
  address {
    margin: 10px;
    text-align: center;
  }
  .blocFlex {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-top: 30px;
  }
  .container,
  .containerAutre {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .containerBot {
    padding-bottom: 30px;
  }
  .container img {
    width: 100%;
  }
  .containerReverse {
    flex-direction: row-reverse;
  }
  .containerAutre {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .containerAutre img {
    width: 50px;
  }
  .blocUn {
    margin: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .blocForm {
    margin: 0 auto;
    background-color: white;
    border: 2px solid #9f890d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 425px;
    padding: 20px;
  }
  .blocForm div {
    margin: 20px 0;
  }
  .blocDeux {
    max-width: 425px;
    margin: auto;
  }
  .blocAutre {
    width: 300px;
    height: 300px;
    border: 1px solid #9f890d;
    margin: 5px;
  }
  .listeReseaux {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
  }
  #reseaux {
    width: 600px;
    margin: auto;
  }
  #reseaux img {
    width: 20px;
  }
  .footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  #footerRight {
    margin-bottom: 10px;
  }
  .footerLangue {
    margin-bottom: 25px;
  }
  #reservation button {
    margin: auto;
    padding: 5px;
    border: 1px solid #9f890d;
    border-radius: 5px;
    color: #9f890d;
  }
  .containerReservation {
    position: fixed;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    filter: opacity(85%);
  }
}
@media screen and (min-width: 1025px) {
  h1,
  h2,
  h3,
  h4,
  p,
  address {
    margin: 10px;
    text-align: center;
  }
  .blocFlex {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-top: 30px;
  }
  .container,
  .containerAutre {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .containerBot {
    padding-bottom: 30px;
  }
  .container img {
    width: 100%;
  }
  .containerReverse {
    flex-direction: row-reverse;
  }
  .containerAutre {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .containerAutre img {
    width: 50px;
  }

  .blocUn {
    /* margin: 0  20px 20px 20px; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    border: 1px solid #9f890d;
    border-radius: 5px;
    background-color: white;
  }
  .blocTrois {
    /* margin: 0  20px 20px 20px; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    /* border: 1px solid #9f890d;
    border-radius: 5px; */
    /* background-color: white; */
  }

  .blocForm {
    margin: 0 auto;
    background-color: white;
    border: 2px solid #9f890d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 425px;
    padding: 20px;
  }
  .blocForm div {
    margin: 20px 0;
  }
  .blocDeux {
    max-width: 425px;
    margin: auto;
  }
  .blocDeux img {
    border: 2px solid #9f890d;
  }
  .blocAutre {
    width: 300px;
    height: 300px;
    border: 1px solid #9f890d;
    margin: 5px;
  }
  .listeReseaux {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
  }
  #reseaux {
    width: 600px;
    margin: auto;
  }
  #reseaux img {
    width: 20px;
  }

  .footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  #footerRight {
    margin-bottom: 10px;
  }
  .footerLangue {
    margin-bottom: 25px;
  }
  #reservation button {
    margin: auto;
    padding: 5px;
    border: 1px solid #9f890d;
    border-radius: 5px;
    color: #9f890d;
  }
  .containerReservation {
    position: fixed;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    filter: opacity(85%);
  }
}
